@media print {
    body {
        background-color: transparent;
    }

    header {
        display: none;
    }

    aside {
        display: none;
    }

    #options-container, #colorpick-form {
        display: none !important;
        padding: 0;
    }
    

    .info-form,
    .yarn-list {
        background-color: transparent !important;
    }


    .cell {
        height: 0.5rem;
        width: 0.5rem;
    }

    .row {
        height: 0.5rem;
    }
}